body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.shadow{
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 10px 10px;
  background-color: #fec89a;
  transition: box-shadow 300ms ease, transform 500ms ease;
  padding: 10px 40px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.shadow:hover {
  box-shadow: none;
}

.shadow:active {
  transform: scale(0.9);
}